    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: "DM Sans", sans-serif;


}

/* Body*/


body {
    margin: 20px 80px;
}

/* Navbar */

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar-links */

.links {
    display: flex;
    gap: 45px;
    align-items: center;
}

.bars>i {
    display: none;
    font-size: 18px;

}

/* Navbar-buttons */

.links>button {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 5.95px;
    background-color: #75BF7A;
    color: white;
    border: none
}

.links>button:hover {
    background-color: #5DAE63;

}

.links>a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.links>a:hover {
    color: #4f4f4f;
}

/* ---------------------------------- */




/* Hero-section */

.hero {
    display: flex;
    justify-content: space-between;
    /* margin: 30px 80px; */
}

.container-1-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container-1-hero>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 0px;

}

.container-2-hero>img {
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
    /* margin: 20px 40px; */
}

.container-1-hero>p {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500px;

    padding: 10px 0px;
    color: #9E9DA2;
}

.hero-section-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.playstore-button {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 5px;
    padding: 12px 32px;
}

.playstore-button:hover {
    background-color: #1c1c1c;
}

.playstore-button:active {
    background-color: #282828;
}


.appstore-button {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 5px;
    padding: 12px 32px;
}

.appstore-button:hover {
    background-color: #1c1c1c;
}

.appstore-button:active {
    background-color: #282828;
}

/* ------------------------- */






/* Section-2  */


.container-section-2 {

    margin: 85px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 150px; */

    background-color: #75BF7A;

    border-radius: 10px;

    padding: 30px 80px;

}

.section-2-input {
    display: flex;
    gap: 11px;
}


.section-2-input>button {

    padding: 12px 42px;

    border: none;
    border-radius: 5px;

    background-color: #000000;
    color: white;

    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 22px;

    text-transform: uppercase;
}

.section-2-input>button:hover {
    background-color: #1c1c1c;
}

.section-2-input>button:active {
    background-color: #282828;
}


.section-2-para {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;

}

.input-1 {
    max-width: 500px;
    height: 67px;

    margin: 0px 10px 0px 150px;

    border: none;
    border-radius: 4px;

    padding: 3px 20px;

    font-size: 18px;

}

/* --------------------- */






/* Section-3  */

.section-3-content {
    margin-top: 128px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3-content>h2 {
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 20px;
}


.section-3-content>p {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    line-height: 26px;
    text-align: center;
    font-size: 23px;
    margin-top: 0px;
    color: #969696;
}

span {
    color: #75BF7A;
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 800;
}

/* ------------------- */






/* Section-4 */

.container-section-4 {
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.images {
    width: 60px;
    height: 60px;
}

.one>h4,
.three>h4 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-align: right;
    margin-bottom: 5px;

}

.two>h4,
.four>h4 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 5px;

}

.one>p,
.three>p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500px;
    line-height: 26px;
    text-align: right;
    margin-top: 0px;

    color: #9E9DA2;
}

.two>p,
.four>p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500px;
    line-height: 26px;
    text-align: left;
    margin-top: 0px;

    color: #9E9DA2;
}

.one,
.three {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 84px;
}


.two,
.four {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 84px;
}

.center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}


.mobile {
    position: absolute;
    z-index: 1;
    /* Isme thori si AI se Help le hey */
    left: 50%;
    transform: translateX(-50%);
}

/* ----------------------- */


.dottes>img {
    margin-top: 100px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* ---------------------------- */





/* Section-5 */

.section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Card-1 */

.container-section-5-1 {
    margin: 56px 230px 56px 150px;

}

.main-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 52px;
    padding: 0px;
}

.rectangle-1 {
    display: flex;
    max-width: 1060px;
    min-height: 304px;
    background-color: #f1f1f1;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 50px;
    border-radius: 10px;
    gap: 150px;
}

.card-1-img {
    width: 250px;
    height: 250px;
}

.heading-1 {
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */

}

.heading-1>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 88px;
    font-weight: 500;
    margin: 0px;
    color: #75BF7A
}

.heading-1>h3 {
    display: flex;
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 500;
    margin: 0px;
    line-height: 32px;

}

.content-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-1-para {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #9E9DA2;
    font-weight: 500px;
    margin-top: 0px;

}

/* ------------------------------- */



/* Card-2 */

.container-section-5-2 {
    margin: 56px 150px 56px 230px;

}

.main-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 52px;
    padding: 0px;
}

.rectangle-2 {
    display: flex;
    max-width: 1060px;
    min-height: 304px;
    background-color: #f1f1f1;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-radius: 10px;
    gap: 150px;
}

.rect-img-2 {
    width: 250px;
    height: 250px;
}

.heading-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.heading-2>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 88px;
    font-weight: 500;
    margin: 0px;
    color: #75BF7A
}

.heading-2>h3 {
    display: flex;
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 500;
    margin: 0px;
    line-height: 32px;

}

.content-div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-2-para {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #9E9DA2;
    font-weight: 500px;
    margin-top: 0px;

}

.rect-img-2 {
    width: auto;
    height: 250px;
}



/* ------------------------------- */



/* Card-3 */


.container-section-5-3 {
    margin: 56px 230px 56px 150px;

}

.main-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 52px;
    padding: 0px;
}

.rectangle-3 {
    display: flex;
    max-width: 1060px;
    min-height: 304px;
    background-color: #f1f1f1;
    justify-content: space-between;
    align-items: center;
    padding: 0px 38px;
    border-radius: 10px;
    gap: 150px;
}

.rect-img-3 {
    width: 250px;
    height: 250px;
}

.heading-3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.heading-3>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 88px;
    font-weight: 500;
    margin: 0px;
    color: #75BF7A
}

.heading-3>h3 {
    display: flex;
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 500;
    margin: 0px;
    line-height: 32px;

}

.content-div-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-3-para {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #9E9DA2;
    font-weight: 500px;
    margin-top: 0px;

}

.rect-img-3 {
    width: 247px;
    height: auto;
}

/* ------------------------------- */



/* footer */

footer {
    margin-top: 100px;
    overflow: hidden;
    /* padding: 40px 60px; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    background-color: #ECECEC;

    width: 100vw;
    position: relative;
   left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 100px 20px 20px 20px; */

}

.div-4 {
    display: flex;
    gap: 15px;
}

.appstore-button-footer {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 3.43px;
    padding: 8px 22px;
}

.appstore-button-footer:hover {
    background-color: #1c1c1c;
}

.appstore-button-footer:active {
    background-color: #282828;
}


.playstore-button-footer {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 3.43px;
    padding: 8px 22px;
}

.playstore-button-footer:hover {
    background-color: #1c1c1c;
}

.playstore-button-footer:active {
    background-color: #282828;
}


.div-2>h3,
.div-3>h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: #272042;
}

.div-2>p,
.div-3>p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;

    color: #8B8BA5;
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;

    color: #75BF7A;


}

/* --------------------------------------- */



/* Media-Query for Mobile */ 


@media screen and (max-width: 360px) {

/* Body */

    body {
        margin: 20px;
    }
/* ------------------------ */


/* Navbar */


.container-navbar{
    margin-bottom: 20px;
}

    .container-navbar>img {
        width: 100px;
        height: auto;
    }

    .bars>i {
        display: block;
        /* font-size: 22px; */
    }

    .links {
        display: none;
    }
/* ------------------------- */


/* Hero section */

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .container-1-hero>h1 {
        font-size: 34px;
        line-height: 37px;
    }

    .container-1-hero>p {
        font-size: 18px;
        line-height: 22px;
    }

    .hero-section-buttons>button {
        gap: 17px;
        padding: 12px 20px;
        font-size: 14.31px;
        border-radius: 2.91px;
    }

    .container-2-hero>img {
        width: 300px;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .container-1-hero {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
/* ------------------------------ */


/* Section-2  */

    .container-section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 20px;
        padding: 20px;
        margin: 66px 0px 0px 0px;
    }

    .section-2-para>p {
        margin: 0px;
    }

    .section-2-input {
        flex-direction: column;
        justify-content: center;
        align-items: center;


        gap: 20px;
    }

    .section-2-input>button {
        font-size: 18px;
        max-width: 280px;
        height: 48px;
    }


    .input-1 {
        margin: 0px;
        max-width: 280px;
        height: 48px;
        /* padding: 10px; */
    }

    /* -------------------------------- */


    /* Section-3 */

    .section-3-content>h2 {
        font-size: 24px;
        line-height: 50px;
    }


    span {

        font-size: 24px;
        line-height: 50px;
    }

    .section-3-content>p {
        font-size: 18px;
        line-height: 22px;
    }

    .section-3-content {
        margin-top: 44px;
    }

    /* ---------------------------- */


    /* Section-4 */

    .container-section-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        gap: 50px;
    }

    .center {
        order: -1;
        scale: 0.85;
    }

    .main-title {
        font-size: 24px;
        line-height: 50px;
    }

    .one,
    .two,
    .three,
    .four {
        align-items: center;
        text-align: center;
    }

    .one>p,
    .two>p,
    .three>p,
    .four>p {
        text-align: center;
    }


    .dottes>img {
        order: -2;
        margin: 40px 0px;
    }


/* -------------------------------- */


/* Section-5 */



    .container-section-5-1, 
    .container-section-5-2, 
    .container-section-5-3 {
        margin: 0px;
    }

    .section-5{
        gap: 50px;
    }

    .rectangle-1 {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin: 0px;
    }

    .heading-1 {
        order: -3;
    }

    .card-1-img {
        order: -2;
    }

    
    .heading-1>h1{
        font-size: 64px;
    }
    .heading-1>h3{
        font-size: 24px;
        line-height: 24px;
    }

    .card-1-para{
        text-align: center;
        font-size: 16px;
        line-height: 16px;
         order: 3;
    }



    .rectangle-2 {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }


    
    .heading-2>h1{
        font-size: 64px;
    }
    .heading-2>h3{
        font-size: 24px;
        line-height: 24px;
    }
    
    .card-2-para{
        text-align: center;
        font-size: 16px;
        line-height: 16px;
    }



    .rectangle-3 {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }


    .heading-3>h1{
        font-size: 64px;
    }


    .heading-3>h3{
        font-size: 24px;
        line-height: 24px;
    }

    .card-3-para{
        text-align: center;
        font-size: 16px;
        line-height: 16px;
    }

    /* ------------------------ */

    /* Footer-section */

    footer{
        margin-top: 50px;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }

    .copyright{
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #8B8BA5;
        /* margin: 40px 20px; */
    }

    .div-1 {
        order: 1;
    }

    .div-2 {
        order: 3;

    }



    .div-3 {
        display: none;
    }

    .div-4 {
        flex-direction: column;
        gap: 10px;
        order: 2;
    }

    /* ------------------------------------- */


}


/* --------------------------  Completed  ----------------------------- */