@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: "DM Sans", sans-serif;
}

/* Body*/


body {
    margin: 20px 80px;
}

/* Navbar */

.container-navbar {
    display: flex;
    justify-content: space-between;
}

/* Navbar-links */

.links {
    display: flex;
    gap: 45px;
    align-items: center;
}

/* Navbar-buttons */

.links>button {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 5.95px;
    background-color: #75BF7A;
    color: white;
    border: none
}

.links>button:hover {
    background-color: #5DAE63;

}

.links>a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.links>a:hover {
    color: #4f4f4f;
}


/* Hero-section */

.hero {
    display: flex;
    justify-content: space-between;
}

.container-1-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container-1-hero>h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 0px;

}



.container-2-hero {
    display: flex;
    justify-content: center;
    margin: 20px 40px;
}

.container-1-hero>p {
    font-family: poppins, sans-serif;
    font-size: 18px;

    padding: 10px 0px;
    color: #969696;
}

.hero-section-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.playstore-button {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 5px;
    padding: 12px 32px;
}

.playstore-button:hover {
    background-color: #1c1c1c;
}

.playstore-button:active {
    background-color: #282828;
}


.appstore-button {

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 5px;
    padding: 12px 32px;
}

.appstore-button:hover {
    background-color: #1c1c1c;
}

.appstore-button:active {
    background-color: #282828;
}

/* ------------------------- */


.container-section-2 {


    display: flex;
    justify-content: space-between ;
    align-items: center;
    /* gap: 150px; */

    background-color: #75BF7A;

    border-radius: 10px;

    padding: 30px 80px;
    margin: 40px 20px;
}

.section-2-input {
    display: flex;
    gap: 20px;
}


.section-2-input>button {

    padding: 12px 42px;

    border: none;
    border-radius: 5px;

    background-color: #000000;
    color: white;

    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;

    text-transform: uppercase;
}

.section-2-input>button:hover {
    background-color: #1c1c1c;
}

.section-2-input>button:active {
    background-color: #282828;
}


.section-2-para {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;

}

input {
    min-width: 500px;
    height: 40px;

    /* margin: 0px 10px 0px 150px; */

    border: none;
    border-radius: 4px;

    padding: 3px 20px;

    font-size: 18px;



}